*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    /* box-shadow: 1px 1px grey; */
    color: white;
    background-color: rgb(68, 68, 255);
}
body{
    overflow-x: hidden;
}
nav ul {
    display: flex;
    justify-content: space-between;
    width: 10%;
}   
nav ul li {
    display: flex;
    list-style: none;
}


nav ul li a{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    color: white;
}
nav ul li a:hover{
    font-size: large;
    opacity: 0.5;
}
.icon{
    display: none;
}
@media (min-width: 768px) and (max-width: 1024px) {
   nav ul{
    width: 12%;
   }

  }

  @media (min-width: 481px) and (max-width: 767px) {
    nav ul  {
        position: absolute;
        flex-direction: column;
        right: 0;
        top: 0;
        height: 200px;
        padding-top: 30px;
        align-items: center;
        width: 80%;
        justify-content: space-evenly;
        background-color: black;
        z-index: -1;
        background-color: rgb(68, 68, 255);
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }
   .icon{
        display: block;
        color: white;
        cursor: pointer;
    }
    nav ul.slide{
        opacity: 1;
        transform: translateX(0);
    }
}


