/* universal tag */
a:hover{
    text-decoration: none;
    color: #FFFFFF;
}

/* button, a{
    min-width: 44px;
    min-height: 44px;
} */

/* jumbotron */

.jumbotron {
    width: 100%;
    height: 120vh;
    background-image: url('../public/images/Erajaya\ Plaza_07.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.jumbotron-cover{
    background-color: rgba(0, 0, 0, 0.5);
    height: 120vh;
}

.jumbotron-content{
    transform: translateY(20vh);
}

.jumbotron-title{
    font-size: 4.5em;
    font-weight: bold;
    color: #FFFFFF;
    width: 30%;
    font-family: 'Poppins', sans-serif;
}

.jumbotron-subtitle{
    font-size: 1.5em;
    color: #FFFFFF;
    font-family: 'open-sauce-one', sans-serif;
    width: 44%;
}

.jumbotron-title , .logo, .jumbotron-subtitle{
    margin-left: 5%;
}

/* erangers Content */

.erangers{
    margin-top: 20vh;
    display: flex;
    justify-content: space-evenly;
}

#carouselExample {
  width: 43.75rem; 
  height: 28.125rem ; 
  margin: 0 auto; 
}

.carousel-inner .carousel-item img {
  width: 50em; 
  height: 28em; 
  object-fit: cover; 
  border: none;
}

.erangers-content{
   width: 25%;
}

.erangers-title, .erangers-subtitle, .erangers-button{
    margin-bottom: 1.7rem;
}

.erangers-title{
    font-size: 4em;
    font-weight: bold;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}
.erangers-subtitle{
    font-size: 1.2em;
    color: #000000;
    font-family: 'open-sauce-one', sans-serif;
    opacity: 0.5;
}
.erangers-button {
    text-decoration: none;
    display: block;
    width: 100%;
    background-color: #0D2084;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #000000;     
    border-radius: 100%;
}

/* featured Opening */

.featured-opening{
    background-image: url('../public/images/About\ Erajaya.png');
    background-size: cover;
}

.custom-slider-arrow{
    color: black !important;
}

.featured-opening-title{
    font-size: 4em;
    font-weight: bold;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.card-item{
    width: 15em;
    height: 21.875em;
    position: relative;
    margin: 1em;
}

.card-featured-opening{
    width: 68em;
    margin: auto;
}

.featured-opening-img{
    text-align: center;
}

.featured-img{
    width: 5em;
    height: 5em;
    object-fit: contain;
}

.featured-opening-content{
    text-align: center;
    color: #000000;
    font-weight: bold;
}

.featured-card-title{
    font-size: 1em;
    font-weight: bold;
}

.featured-level{
    color: #000000;
    font-size: .7em;
    opacity: 0.4;
}

.expired, .location{
    margin: 0;
    padding: 0;
    font-size: .9em;
    opacity: 0.6;
    font-family: 'open-sauce-one', sans-serif;
}


.detailbuton{
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
    border-radius: 30px;
    font-weight: bold;
    font-size: .8em;
    color: #0D2084;

    position: absolute;
    bottom: 30px;
    left: 30%;
    right: 30%;
    transition: all 0.3s ease-in-out;
}

.detailbuton:hover{
    background-color: #0D2084;
    color: #FFFFFF;
}

.bookmark-icon{
    position: absolute;
    top: 0;
    right: 10px;
    color: #e6edf4 ;
    font-size: 3em;
}

.button-see-all{
    margin-top: 2em;
    text-align: center;
}

.see-all-featured-opening{
    text-decoration: none;
    display: block;
    width: 30%;
    margin: auto;
    background-color: #0D2084;
    color: #ffffff;
    font-size: 1.5em;
    font-family: 'popins', sans-serif;
    font-weight: bold;
    padding: 5px;
    border-radius: 30px;
    min-width: 44px;
    min-height: 44px;
}

/* about Erajaya */

.about{
    background-image: url('../public/images/About\ Erajaya-2.png');
    background-size: cover;
    display: flex;
    justify-content: space-around;
}

.about-erajaya{
    width: 40%;
    margin: auto;
    text-align: center;
}

.about-erajaya-title{
    font-size: 4.4em;
    font-weight: bold;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 40%;
}

.about-erajaya-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 40px;
    margin: 20px;
}

.second-image{
    transform: translateY(60px);
}

.erajaya-companies{
    width: 50%;
}

.erajaya-companies-logo{
    margin-top: 40px;
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.erajaya-companies-content{
    font-size: 1.3em;
    opacity: 0.6;
    width: 70%;
    margin: 0;
    padding: 0;
    font-family: 'open-sauce-one', sans-serif;
}

.find-out-button{
    text-decoration: none;
    display: block;
    background-color: #0D2084;
    color: #ffffff;
    width: 70%;
    text-align: center;
    padding: 5px;
    border-radius: 30px;
    font-size: 1.6em;
    font-weight: bold;
}

/* vission mission core value */
.vission-mission{
    margin-top: 200px;
    height: 120vh;
    background-image: url('../public/images/About\ Erajaya-4.png');
    display: flex;
}

.vission-mission-content{
    width: 50%;
}

.vission-title, .mission-title, .ilead-title{
    font-size: 5em;
    font-weight: bold;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    width: 40%;
    margin-top: 50px;
}

.vission-content, .mission-content{
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    font-family: 'open-sauce-one', sans-serif;
    color: #FFFFFF;
    margin-top: 30px;
}

.vission-content{
    width: 65%;
}

.ilead-core-values{
    width: 100%;
}

.ilead-title{
    width: 100%;
}

.list-core-values{
    display: flex;
    flex-direction: column;
    height: 90vh;
    flex-wrap: wrap;
}

.list-core-title{
    font-size: 2em;
    font-weight: bold;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

.list-core-content{
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    font-family: 'open-sauce-one', sans-serif;
    color: #FFFFFF;
    width: 80%;
}
.tech-savvy{
    width: 90%;
}
/* our line of verticals */

.our-line-of-verticals{
    background-image: url('../public/images/About\ Erajaya-5.png');
    background-size: cover;
}

.verticals-title{
    font-size: 5em;
    font-weight: bold;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.card{
    width: 15rem;
    margin: 1em;
}
.card-img-top{
    width: 15rem;
    height: 9rem;
    object-fit: cover;
}

.card-vertical-title{
    font-size: 1.3em;
    font-weight: bold;
    color: #000000 !important;
    font-family: 'Poppins', sans-serif;
    width: 13rem;
}

.card-text{
    font-size: 1em;
    opacity: 0.5;
    color: #000000;
    font-family: 'open-sauce-one', sans-serif;
}
.logo_icon{
    display: flex;
    justify-content: center;
}
.brand-logo{
    width: 5em;
    object-fit: contain;
    margin: .23em;
}

.logo-big-brand{
    width: 2rem;
    object-fit: contain;
}

.logo_brand, .logo-big-brand{
    cursor: pointer;
    transition: all .3s;
}

.verticals-button{
    text-decoration: none;
    display: block;
    width: 30%;
    background-color: #0D2084;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size:1.2em;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    margin: auto;
    min-width: 44px;
    min-height: 44px;
}

/* grow your carrer with us */

.grow-your-carrer{
    background-image: url('../public/images/internal-audit-thumbnail-2-_x373.png');
    background-size: cover;
    display: flex;
    justify-content: space-around;
    margin-top: 12vh;
    background-position: center;
    background-repeat: repeat;
}

.grow-cover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.grow-title{
    font-size: 4.5em;
    font-weight: bold;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    width:700px;
}

.testimoni{
    width: 90%;
    margin: auto;
}
.testimoni-slider{
    width: 22em;
    background-color: white;
    height: 27em;
    margin: 1em;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.testimoni-img{
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 50%;
}

.testimoni-text{
    width: 16em;
    font-size: 1rem;
    text-align: center;
    opacity: 0.5;
}

.testimoni-title{
    font-size: 1.05rem;
    font-weight: bold;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    width: 15rem;
    margin-top: 1em;
    text-align: center;
}

/* Ready to kickstart */


.ready-title{
    font-size: 4em;
    font-weight: bold;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    width:129vh;
}

.ready-content{
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    font-family: 'open-sauce-one', sans-serif;
    color: #000000;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.uk-card{
    width: 17.4em;
    height: 7.5em;
    background-color: #0D2084;
    color: #FFFFFF;
    border-radius: 30px;
}

.ready-job-vacancies{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.ready-job-vacancies-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.jobs-title{
    font-size: .78em;
    font-weight: bold;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    width: 13rem;
    text-align: center;
}

.jobs-content{
    font-size: .80em;
    color: #aba4a4;
    font-family: 'open-sauce-one', sans-serif;
    width: 13rem;
    margin-left: 1em;
    text-align: center;
    margin-top: 2em;
    position: absolute;
    bottom: .5em;
}


/* life at erajaya */
    .life-title{
        font-size: 4em;
        font-weight: bold;
        color: #000000;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-top: 2em;
    }

    .era-list-event{
        display: flex;
        justify-content: space-around; 
    }

    .era-event{
        border: 1px solid #000000;
        width: 30em;
        height: 15em;
        border-radius: 15px;
        margin: 1em;
    }

    .era-event > img{
        width: 100%;
        height: 10em;
        object-fit: cover;
        border-radius: 15px;
    }

    .life-text{
        font-size: 1.2em;
        color: #000000;
        font-family: 'open-sauce-one', sans-serif;
        text-align: center;
    }

    .event-title{
        font-size: 1.5em;
        font-weight: bold;
        color: #000000;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-top: .8em;
    } 

/* lets engange with us */
.find-more{
    text-decoration: none;
    color: #000000;
    font-family: 'open-sauce-one', sans-serif;
    font-size: 1.5em;
    justify-content: center;
    display: flex;
    margin: 5em;
}

.find-more:hover{
    color: black !important;
}

.find-more > span > img{
    margin-left: .5em;
    width: 1.2em;
    height: 1.2em;
}

.linkedin_icon{
    width: 1.3em;
}

.lets-engage{
    background-image: url('../public/images/About\ Erajaya-9.png');
    background-size: cover;
     background-position: center;
    background-repeat: repeat;
}

.lets-engage-title{
    font-size: 3em;
    font-weight: bold;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    width: 70vh;
    margin-top: 3em;
    text-indent: .3em;
    opacity: 0.9;
}

.lets-engage-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.lets-engage-text{
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    font-family: 'open-sauce-one', sans-serif;
    color: #000000;
    width: 67vh;
    margin-top: 30px;
}

.link-sosmed{
    text-decoration: none;
    color: #000000;
    font-family: 'open-sauce-one', sans-serif;
    font-size: 1.34em;
    font-weight: bold;
    margin: .5em;
    background-color: #0D2084;
    color: #e6edf4;
    padding: .25em;
    border-radius: 30px;
    width: 15em;
}

.link-sosmed > span{
    margin-right: .5em;
    margin-left: .5em;
    font-size: 1em;
}

/* submit-email */

.submit-email{
    background-color: #0D2084;
    height: 40vh;
    margin-top: 0;
}

.submit-title{
    font-size: 3em;
    font-weight: bold;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding-top: 1em;
}

.submit-text{
    font-size: 1.2em;
    padding: 0;
    font-family: 'open-sauce-one', sans-serif;
    color: #FFFFFF;
    text-align: center;
}


.submit-content{
    width: 60%;
    margin: auto;
    height: 3em;
    border-radius: 30px;
    border: none;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #FFFFFF;
    color: #0D2084;
    font-family: 'open-sauce-one', sans-serif;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.input-email{
    border: none;
    width: 80%;
    font-size: 1.35em;
    font-family: 'open-sauce-one', sans-serif;
    border-radius: 30px;
    padding: 1em;
}

.input-email:focus{
    outline: none;
}

.submit-btn{
    background-color: #0D2084;
    color: #FFFFFF;
    border-radius: 30px;
    margin: auto .125em auto auto;
    width: 7em;
    height: 1.8em;
    border: none;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}